jestr-monitoring/01 - Jestr Monitoring.json
{
  "name": "Jestr Monitoring",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6e40031-c429-44ac-b33a-8c4ca008116d",
              "leftValue": "={{ $json.scraped_at.slice(0, 10) }}",
              "rightValue": "={{ DateTime.now().toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        480,
        -688
      ],
      "id": "63766855-d1fd-4740-922a-8e1322ec17e6",
      "name": "FILTER DATE",
      "notes": "retrieve only the data if the scraped_at is equal to today"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1iaLrv838PIgd2AbMes4NVmwvqjFrUKI7cclZ-Svrko4",
          "mode": "list",
          "cachedResultName": "Scraped-Campaigns",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iaLrv838PIgd2AbMes4NVmwvqjFrUKI7cclZ-Svrko4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 944518375,
          "mode": "list",
          "cachedResultName": "Jestr Detected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iaLrv838PIgd2AbMes4NVmwvqjFrUKI7cclZ-Svrko4/edit#gid=944518375"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.game }}",
            "url": "={{ $json.url }}",
            "scraped_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -688
      ],
      "id": "62b5d35a-558e-45be-86ff-9ea51ba2a7ac",
      "name": "APPEND: SCRAPED CAMPAIGNS",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1f8aLVluFHMucGVEEebiaaICtwbM6T99zEvNnY24FhSE",
          "mode": "list",
          "cachedResultName": "Steam Curator: Jestr Detected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f8aLVluFHMucGVEEebiaaICtwbM6T99zEvNnY24FhSE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1511328336,
          "mode": "list",
          "cachedResultName": "Game List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f8aLVluFHMucGVEEebiaaICtwbM6T99zEvNnY24FhSE/edit#gid=1511328336"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        -688
      ],
      "id": "0890e6d6-51b3-482c-9bad-f71887c7b7b8",
      "name": "STEAM CURATOR: JESTR DETECTED",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 10 * * 3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -688
      ],
      "id": "1766da28-8d0b-4692-9772-e22b3bba1ddd",
      "name": "TRIGGER 10 AM OR 5 PM PHT",
      "notes": "Every Wednesday at 10:00 AM (5:00 PM PHT) "
    },
    {
      "parameters": {
        "content": "## Trigger Node\n\n",
        "height": 280,
        "width": 332,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -768
      ],
      "typeVersion": 1,
      "id": "70a5e08f-07d9-4537-b9ee-a15d5f9b19ec",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Action Node\n\n",
        "height": 280,
        "width": 332,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -768
      ],
      "typeVersion": 1,
      "id": "b01bf7ed-7eb3-421a-8c59-5a4942b8205b",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 272,
        "width": 336,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -768
      ],
      "typeVersion": 1,
      "id": "e19c03d2-3fa5-4772-bc0c-94664fe86e7a",
      "name": "Sticky Note72"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 276,
        "width": 332,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -768
      ],
      "typeVersion": 1,
      "id": "c058a0ef-e8a0-4166-971f-6e389ed00191",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Jestr Monitoring\n\n**Purpose:**\n- The purpose of this workflow is to send the data from Steam Curator: Jestr Detected Sheet to Scraped Campaigns (Jestr Detected tab) sheet.",
        "height": 176,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -768
      ],
      "typeVersion": 1,
      "id": "93ec14d2-b692-44b1-891f-ff207fa22c34",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Important URL\n**Google Sheets (Steam Curator: Jestr Detected)**:\nhttps://docs.google.com/spreadsheets/d/1f8aLVluFHMucGVEEebiaaICtwbM6T99zEvNnY24FhSE/edit?gid=1511328336#gid=1511328336\n\n**Google Sheets (Scraped Campaigns)**:\nhttps://docs.google.com/spreadsheets/d/1iaLrv838PIgd2AbMes4NVmwvqjFrUKI7cclZ-Svrko4/edit?gid=944518375#gid=944518375\n\n\n",
        "height": 264,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -560
      ],
      "typeVersion": 1,
      "id": "aecff964-2867-4f06-95a0-7337110bfe10",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Documentation\nThis will run wednesday, :\n- 10:00 AM UK time OR 5:00 PM PHT\n\n- Retrieve data from the steam curator: Jestr Detected\n\n- Check if the date is today, If yes retrieve. If no, do nothing.\n\n- Append to scraped campaigns (jestr detected tab)\n\n  ",
        "height": 244,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -256
      ],
      "typeVersion": 1,
      "id": "b88fc5e5-359a-460e-aa06-538e27b3f7d1",
      "name": "Sticky Note68"
    }
  ],
  "pinData": {},
  "connections": {
    "FILTER DATE": {
      "main": [
        [
          {
            "node": "APPEND: SCRAPED CAMPAIGNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STEAM CURATOR: JESTR DETECTED": {
      "main": [
        [
          {
            "node": "FILTER DATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRIGGER 10 AM OR 5 PM PHT": {
      "main": [
        [
          {
            "node": "STEAM CURATOR: JESTR DETECTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "errorWorkflow": "HrRA6Gjil21fGmZd"
  },
  "versionId": "b8233482-b666-4cfb-b80f-6e28d1549cc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7f0c9e93cc1d21450d0ac53e03c96386e7955af12da3506dd2a4747fb35fd69"
  },
  "id": "qU35tAxVtFApayze",
  "tags": [
    {
      "updatedAt": "2025-12-15T14:10:19.680Z",
      "createdAt": "2025-12-15T14:10:19.680Z",
      "id": "QdUe6YUR8urhBgR4",
      "name": "Justin Peligro"
    },
    {
      "updatedAt": "2026-01-20T10:01:15.439Z",
      "createdAt": "2026-01-20T10:01:15.439Z",
      "id": "b5XajD9gUphtMiHm",
      "name": "Production"
    }
  ]
}