recent-release-game/01 - Recent Release Game v2.json
{
  "name": "Recent Release Game v2",
  "nodes": [
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        -1872
      ],
      "id": "19de8526-4d0a-43ea-b44d-4d1086a58a16",
      "name": "ONE: LOOP"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH base AS (\n    SELECT \n        po.id AS organisation_id,\n        po.name AS organisation_name,\n        po.active AS organisation_active,\n        cps.id AS product_source_id,\n        cps.product_id,\n        cps.name AS product_name,\n        cps.preferred,\n        cps.source,\n        cps.raw_release_date,\n        cps.release_date,\n        CASE \n            WHEN po.name ILIKE $1 THEN 1\n            WHEN po.name ILIKE $1 || ' %' \n              OR po.name ILIKE '% ' || $1 \n              OR po.name ILIKE '% ' || $1 || ' %' THEN 2\n            ELSE 3\n        END AS name_match_priority\n    FROM public.publisher_organisations po\n    JOIN public.catalogue_meta_data cmd\n        ON cmd.publisher_organisation_id = po.id\n    JOIN public.catalogue_product_meta_data cpmd\n        ON cpmd.meta_data_id = cmd.id\n    JOIN public.catalogue_products cp\n        ON cp.id = cpmd.product_id\n    JOIN public.catalogue_product_sources cps\n        ON cps.product_id = cp.id\n    WHERE po.name ILIKE '%' || $1 || '%'\n      AND po.active = 'true'\n      AND cps.preferred = true\n),\nbest_match AS (\n    SELECT MIN(name_match_priority) AS best_priority\n    FROM base\n),\nclassified AS (\n    SELECT b.*,\n        CASE\n            WHEN b.release_date IS NOT NULL \n                AND b.release_date > CASE \n                    WHEN '{{ $('TRIGGER').item.json.today }}' = 'Excluded' \n                        THEN CURRENT_DATE\n                    ELSE CURRENT_DATE - 1\n                END\n                THEN 1\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* '^Q[1-4]\\s+\\d{4}$'\n                AND (\n                    MAKE_DATE(\n                        CAST(SPLIT_PART(b.raw_release_date, ' ', 2) AS INT),\n                        (CAST(SUBSTRING(b.raw_release_date FROM 2 FOR 1) AS INT)) * 3,\n                        1\n                    ) >= DATE_TRUNC('month', CURRENT_DATE)\n                )\n                THEN 2\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~ '^\\d{4}$'\n                AND CAST(b.raw_release_date AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                THEN 3\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* 'coming\\s+soon'\n                AND (\n                    CASE \n                        WHEN b.raw_release_date ~ '\\d{4}' \n                        THEN CAST(SUBSTRING(b.raw_release_date FROM '\\d{4}') AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                        ELSE TRUE\n                    END\n                )\n                THEN 4\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* '(to\\s+be\\s+announced|tba|tbd)'\n                AND (\n                    CASE \n                        WHEN b.raw_release_date ~ '\\d{4}' \n                        THEN CAST(SUBSTRING(b.raw_release_date FROM '\\d{4}') AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                        ELSE TRUE\n                    END\n                )\n                THEN 5\n            ELSE NULL\n        END AS release_priority\n    FROM base b\n    JOIN best_match bm ON b.name_match_priority = bm.best_priority\n),\ndeduplicated AS (\n    SELECT DISTINCT ON (product_id) *\n    FROM classified\n    WHERE release_priority IS NOT NULL\n    ORDER BY\n        product_id,\n        release_priority,\n        CASE\n            WHEN release_priority = 1 THEN release_date - CURRENT_DATE\n            WHEN release_priority = 2 THEN ABS(\n                MAKE_DATE(\n                    CAST(SPLIT_PART(raw_release_date, ' ', 2) AS INT),\n                    (CAST(SUBSTRING(raw_release_date FROM 2 FOR 1) AS INT) - 1) * 3 + 1,\n                    1\n                ) - CURRENT_DATE\n            )\n            WHEN release_priority = 3 THEN ABS(\n                MAKE_DATE(CAST(raw_release_date AS INT), 1, 1) - CURRENT_DATE\n            )\n            ELSE 0\n        END\n)\nSELECT *\nFROM deduplicated\nORDER BY\n    release_priority,\n    CASE\n        WHEN release_priority = 1 THEN release_date - CURRENT_DATE\n        WHEN release_priority = 2 THEN ABS(\n            MAKE_DATE(\n                CAST(SPLIT_PART(raw_release_date, ' ', 2) AS INT),\n                (CAST(SUBSTRING(raw_release_date FROM 2 FOR 1) AS INT) - 1) * 3 + 1,\n                1\n            ) - CURRENT_DATE\n        )\n        WHEN release_priority = 3 THEN ABS(\n            MAKE_DATE(CAST(raw_release_date AS INT), 1, 1) - CURRENT_DATE\n        )\n        ELSE 0\n    END\nLIMIT 1;",
        "options": {
          "connectionTimeout": 20,
          "queryReplacement": "={{ $json.organization_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        -1856
      ],
      "id": "487f2d9c-f45f-4f43-87fe-9cdda15e51aa",
      "name": "ONE: BACKEND QUERY",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "ghviRi7mSIOmrT5C",
          "name": "keymailer-postgresql-read-only"
        }
      },
      "notes": "1. Get active organisations matching the name.\n2.Get their preferred product releases.\n3. Today is included or excluded \n3. Keep only upcoming or announced releases.\n4. Rank them by how specific and soon they are.\n5. Return the closest one (or however many you specify).\n\nNOTE:\n- Prioritize release_date field, if null use raw_release_date field\n- Get the data that is closest today (today excluded) \n- raw_release_date prioritization in order (Q1 2026, 2026, Coming soon, To be announced)\n"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst loopItems = $('ONE: LOOP').all();\n\n// Fallback when SQL returns no matching rows\nif (items.length === 1 && items[0].json.success === true) {\n  return loopItems.map(li => ({\n    json: {\n      success: true,\n      row_number: li.json.row_number,\n      loop_organisation_name: li.json.organization_name,\n    }\n  }));\n}\n\n// Build a lookup map: lowercased name → loop item data\nconst loopMap = {};\nfor (const li of loopItems) {\n  const name = li.json.organization_name?.trim().toLowerCase();\n  if (name) {\n    loopMap[name] = li.json;\n  }\n}\n\nconst grouped = {};\nfor (const item of items) {\n  const data = item.json;\n  const orgId = data.organisation_id;\n  if (!grouped[orgId]) {\n    grouped[orgId] = {\n      organisation_id: data.organisation_id,\n      organisation_name: data.organisation_name,\n      organisation_active: data.organisation_active,\n      products: [],\n      _productIds: new Set()\n    };\n  }\n  if (!grouped[orgId]._productIds.has(data.product_id)) {\n    grouped[orgId]._productIds.add(data.product_id);\n    grouped[orgId].products.push({\n      product_source_id: data.product_source_id,\n      product_id: data.product_id,\n      product_name: data.product_name,\n      source: data.source,\n      raw_release_date: data.raw_release_date,\n      release_date: data.release_date,\n      release_priority: data.release_priority\n    });\n  }\n}\n\n// Track which loop names were matched\nconst matchedLoopNames = new Set();\n\nconst matchedResults = Object.values(grouped).map(org => {\n  const { _productIds, ...cleanOrg } = org;\n  const currentName = cleanOrg.organisation_name?.trim().toLowerCase();\n  const matchedLoop = currentName && loopMap[currentName];\n  if (matchedLoop) matchedLoopNames.add(currentName); // ← track matched\n  return {\n    json: {\n      ...cleanOrg,\n      ...(matchedLoop ? {\n        row_number: matchedLoop.row_number,\n        loop_organisation_name: matchedLoop.organization_name,\n      } : {})\n    }\n  };\n});\n\n// Append unmatched loop items (no SQL data found for them)\nconst unmatchedResults = Object.entries(loopMap)\n  .filter(([name]) => !matchedLoopNames.has(name))\n  .map(([_, loopItem]) => ({\n    json: {\n      row_number: loopItem.row_number,\n      loop_organisation_name: loopItem.organization_name,\n    }\n  }));\n\nreturn [...matchedResults, ...unmatchedResults];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -1856
      ],
      "id": "8d27c7ec-1e07-489c-8e64-b76e95f09c3a",
      "name": "ONE: MADMIN RETURN FORMAT",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "- Get the data from previous node (Backend Query) and Loop node for matching"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69bca262-aa7a-4d77-852a-bc61d01e8387",
              "leftValue": "={{ $json.loop_organisation_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2320,
        -1856
      ],
      "id": "9515a605-fb03-4170-8545-163972a8bdbd",
      "name": "ONE: CHECK IF NOT EMPTY",
      "notesInFlow": true,
      "notes": "- Check if organization_name field is not empty"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "organization_name": "={{ $json.loop_organisation_name }}",
            "status": "=complete - checking the madmin",
            "madmin_game_name": "={{ [$json.products[0]?.product_name, $json.products[1]?.product_name, $json.products[2]?.product_name].filter(Boolean).join(', ') }}",
            "madmin_earliest_release_date": "={{    $json.products.map(p => {     if (p.release_date) {       const d = new Date(p.release_date);       return d.getUTCDate().toString().padStart(2, '0') + ' ' +              d.toLocaleString('en-GB', { month: 'short', timeZone: 'UTC' }) + ' ' +              d.getUTCFullYear();     } else {       return p.raw_release_date;     }   }).filter(Boolean).join(', ') }}",
            "madmin_link": "={{ [$json.products[0]?.product_id, $json.products[1]?.product_id, $json.products[2]?.product_id].filter(Boolean).map(id => 'https://madmin.keymailer.co/catalogue/products/' + id).join(', ') }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2624,
        -1872
      ],
      "id": "1d769985-e8c8-4679-b5f1-aa688cb042fc",
      "name": "ONE: UPDATE MADMIN COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.limit }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c64b7b4-0066-4134-a916-bd11a74f7b79"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d2918da8-0e52-4048-a812-2f1bd1435212",
                    "leftValue": "={{ $json.limit }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f657b293-f69e-417e-8508-28eb4f205f4d",
                    "leftValue": "={{ $json.limit }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        400,
        32
      ],
      "id": "1a03bf30-ed4f-410e-bafb-71f109669007",
      "name": "CHECK DATA LIMIT",
      "notesInFlow": true,
      "notes": "- Check what data limit is"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "active"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        48
      ],
      "id": "cbfa1da1-7a62-45cf-8d31-257be3cc0b4f",
      "name": "LIST",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      },
      "notes": "- Get the List sheet\n\n- Check if the status is active"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "86399cc1-158a-4e73-8225-dd29cb9cd012",
              "leftValue": "={{ $json.trigger }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        64
      ],
      "id": "24228f0a-6b6b-4e9a-b91d-b1ca06a27493",
      "name": "CHECK INPUT",
      "notesInFlow": true,
      "notes": "- Check if the user type \"Run\" if yes get the data in sheet, if no, stop the workflow."
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "400 Bad Request",
        "completionMessage": "=You typed \"{{ $json.trigger }}\" instead of \"Run\".",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        -528,
        192
      ],
      "id": "4a8f4b88-831a-4e8b-81ca-f5ade8a2f81e",
      "name": "FORM ENDING: 400 ",
      "webhookId": "edbd9dd4-3338-4e08-b159-7a075d2d35ef"
    },
    {
      "parameters": {
        "formTitle": "Recent Game Release v2",
        "formDescription": "Type 'Run' to start the automation.",
        "formFields": {
          "values": [
            {
              "fieldName": "trigger",
              "fieldLabel": "Type ‘Run’ to activate the workflow.",
              "placeholder": "Run",
              "requiredField": true
            },
            {
              "fieldName": "data_limit",
              "fieldLabel": "Data Limit (# of Recent Releases)",
              "fieldType": "dropdown",
              "defaultValue": "1",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  }
                ]
              }
            },
            {
              "fieldName": "today",
              "fieldLabel": "Today",
              "fieldType": "dropdown",
              "defaultValue": "Included",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Included"
                  },
                  {
                    "option": "Excluded"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1072,
        64
      ],
      "id": "254ccd29-a457-41e9-bf30-b80bbeebbafb",
      "name": "TRIGGER",
      "webhookId": "77c7f4c8-bf38-4eae-87ab-947842be691d",
      "notesInFlow": true,
      "notes": "- This automation will run when the user types 'Run' \n\n- This form has two selections: Data Limt and Today"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        -1168
      ],
      "id": "8815f24a-db2d-4dc4-af52-58f8f2c98cdd",
      "name": "ONE: LOOP STEAM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d8f363a-0ef9-4553-9fb3-8c8ec8908ea3",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "9c8269e7-f537-405d-93d9-d847d64e250b",
              "name": "organization_name",
              "value": "={{ $json[\"organization_name\"] }}",
              "type": "string"
            },
            {
              "id": "5d124ac7-5ac8-4c8d-b3cb-881013b92a4c",
              "name": "portal",
              "value": "={{ $json.steam_portal }}",
              "type": "string"
            },
            {
              "id": "678ace13-b733-4a69-bfc4-777d44e642cc",
              "name": "limit",
              "value": "={{ $('TRIGGER').item.json.data_limit }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        48
      ],
      "id": "e27f53f4-8c1c-40e3-933e-f40a14dd9b74",
      "name": "EDIT LIST COLUMN",
      "notesInFlow": true,
      "notes": "- Proceed only the row_number, organization_name, portal column"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14600dfa-3681-4109-b59d-61a456b18ccd",
              "leftValue": "={{$json.portal_validation}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        -928
      ],
      "id": "f013278b-907c-4dc6-a423-3f7984c52902",
      "name": "ONE: CHECK PORTAL VALIDATION CODE"
    },
    {
      "parameters": {
        "jsCode": "// VALID PORTAL IS PUBLISHER, DEVELOPER, CURATOR, FRANCHISE\nconst url = $json.portal?.trim();\n\nconst isValidPortal =\n  url &&\n  /^https:\\/\\/store\\.steampowered\\.com\\/(publisher|developer|curator|franchise)\\/[^\\/]+\\/?$/.test(url);\n\nreturn [{\n  row_number: $json.row_number,\n  organization_name: $json.organization_name,\n  portal: url,\n  limit: $json.limit,\n  portal_validation: isValidPortal ? 200 : 400\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -928
      ],
      "id": "10edf9e0-c5fb-4456-bb5b-ce78829119f5",
      "name": "ONE: VALIDATE STEAM PORTAL"
    },
    {
      "parameters": {
        "url": "=https://store.steampowered.com/{{ $json.org_steam_portal }}/{{ $json.org_steam_name }}/ajaxgetfilteredrecommendations/render/?query=&start=0&count=50&tagids=&sort=upcoming&app_types=&curations=&reset=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Referer",
              "value": "https://store.steampowered.com/"
            },
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2864,
        -944
      ],
      "id": "67052ac1-d755-4bed-aa80-09c624a8244d",
      "name": "ONE: REQUEST TO STEAM",
      "notesInFlow": true,
      "notes": "request to ajaxgetfilteredrecommendations to return the upcoming game release of the organization"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n\nreturn items.map(item => {\n  const data = item.json;\n  const portal = data.portal || '';\n\n  // Remove the base Steam URL\n  const trimmed = portal.replace('https://store.steampowered.com/', '');\n\n  // Split into type and name\n  const [org_steam_portal, org_steam_name] = trimmed.split('/');\n\n  return {\n    json: {\n      row_number: data.row_number,\n      organization_name: data.organization_name,\n      portal: data.portal,\n      org_steam_portal,\n      org_steam_name\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -944
      ],
      "id": "f44befef-74c5-45af-8bac-9ce761e81226",
      "name": "ONE: SPLIT PORTAL",
      "notesInFlow": true,
      "notes": "trimmed the portal into two: portal and name to pass into the http"
    },
    {
      "parameters": {
        "jsCode": "const agents = [\n'Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/124.0.0.0 Safari/537.36',\n'Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) Chrome/124.0.0.0 Safari/537.36',\n'Mozilla/5.0 (X11; Linux x86_64) Chrome/123.0.0.0 Safari/537.36',\n'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:124.0) Gecko/20100101 Firefox/124.0',\n];\nconst pick = Math.floor(Math.random() * agents.length);\nreturn [{ json: { ...($input.first().json), userAgent: agents[pick] } }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -944
      ],
      "id": "14ac69fe-ea5c-4016-b9fe-f6c3f79faca3",
      "name": "ONE: PICK A RANDOM USER-AGENT",
      "notesInFlow": true,
      "notes": "randomize user-agent"
    },
    {
      "parameters": {
        "jsCode": "const data = Array.isArray($json) ? $json[0] : $json;\nconst totalCount = parseInt(data.total_count || '0', 10);\n\n// Get source info from VALIDATE STEAM PORTAL node (exclude portal_validation)\nconst sourceRaw = $items(\"ONE: VALIDATE STEAM PORTAL\")[0].json;\nconst sourceInfo = {\n  row_number: sourceRaw.row_number,\n  organization_name: sourceRaw.organization_name,\n  portal: sourceRaw.portal,\n  limit: sourceRaw.limit\n};\n\nconst limit = parseInt(sourceRaw.limit || '1', 10);\n\n// No upcoming games — return 404-equivalent\nif (totalCount === 0) {\n  return [{\n    json: {\n      status: 404,\n      message: 'No upcoming game releases found',\n      source: sourceInfo,\n      games: []\n    }\n  }];\n}\n\nconst html = data.results_html;\nconst games = [];\n\nconst blockRegex = /data-ds-appid=\"(\\d+)\"[\\s\\S]*?href=\"(https:\\/\\/store\\.steampowered\\.com\\/app\\/[^\"]+)\"[\\s\\S]*?<span class='color_created'>([\\s\\S]*?)<\\/span>[\\s\\S]*?<span class=\"curator_review_date\">([\\s\\S]*?)<\\/span>/g;\nlet match;\n\nwhile ((match = blockRegex.exec(html)) !== null) {\n  if (games.length >= limit) break;\n\n  games.push({\n    appid: match[1],\n    url: match[2],\n    title: match[3].replace(/<[^>]+>/g, '').trim(),\n    release_date: match[4].replace(/<[^>]+>/g, '').trim()\n  });\n}\n\nreturn [{\n  json: {\n    status: 200,\n    message: `Found ${games.length} upcoming game(s)`,\n    source: sourceInfo,\n    games\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        -944
      ],
      "id": "9683980f-d2dd-4e88-ae08-854549d5e133",
      "name": "ONE: GET THE RESPONSE DATA FROM STEAM",
      "notes": "get the data from validate steam portal node, add a limit, and check if the org has an upcoming game release"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e05f26be-f5f7-4339-b80b-1bffc3eec801",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3488,
        -944
      ],
      "id": "33a81456-9f40-4ab3-b300-d654aa071457",
      "name": "ONE: CHECK STATUS CODE"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Return only the items where limit is 1\nreturn items.filter(item => {\n  return String(item.json.limit) === '1';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -1168
      ],
      "id": "b797fb04-5397-47ed-92bd-14024aed07b1",
      "name": "ONE STEAM: GET DATA IF LIMIT IS 1"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Return only the items where limit is 1\nreturn items.filter(item => {\n  return String(item.json.limit) === '1';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -1872
      ],
      "id": "c8413504-98c0-4cef-952a-4b6fb71ac3dd",
      "name": "ONE: GET DATA IF LIMIT IS 1"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (10 - 3 + 1)) + 3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3808,
        -576
      ],
      "id": "45501fa1-f732-44e3-b664-bfef1d383873",
      "name": "ONE 404: RANDOMIZE WAIT",
      "webhookId": "6e2fc9a1-49c9-49e2-92cc-66d1b1d4bdde"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (10 - 3 + 1)) + 3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4672,
        -496
      ],
      "id": "ee44e394-4bf7-40f3-beb8-b9a2473d2f7e",
      "name": "ONE 200: RANDOMIZE WAIT",
      "webhookId": "6e2fc9a1-49c9-49e2-92cc-66d1b1d4bdde"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "steam_game_name": "={{ $json.games[0].title }}",
            "steam_earliest_release_date": "={{ $json.games[0].release_date }}",
            "steam_link": "=https://store.steampowered.com/app/{{ $json.games[0].appid }}",
            "organization_name": "={{ $json.source.organization_name }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4912,
        -496
      ],
      "id": "502282eb-bbe7-4068-a2b2-2602acac78ee",
      "name": "ONE 200: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Recent Game Release v2",
        "completionMessage": "=The automation ran successfully.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1664,
        -1184
      ],
      "id": "90915197-ab19-4e65-9508-a15bf73e7297",
      "name": "ONE: FORM ENDING",
      "webhookId": "edbd9dd4-3338-4e08-b159-7a075d2d35ef"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4e5b2b6-715c-4389-afb4-6018a891830d",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "6de1c71c-5647-4b1b-8b1a-ac9b5db33379",
              "name": "organization_name",
              "value": "={{ $json.organization_name }}",
              "type": "string"
            },
            {
              "id": "3569a00c-a475-4400-8138-a0a57ea4a4c8",
              "name": "portal",
              "value": "={{ $json.portal }}",
              "type": "string"
            },
            {
              "id": "c0a2717e-9d15-4190-bce2-13afc7c94da8",
              "name": "automation_notes",
              "value": "invalid_steam_portal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        -656
      ],
      "id": "3ed32a55-2c9e-44fd-9537-4cb96efc97a6",
      "name": "ONE 400: ADD A MESSAGE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "organization_name": "={{ $json.organization_name }}",
            "automation_notes": "={{ $json.automation_notes }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2608,
        -656
      ],
      "id": "f82d83e7-ebc6-4b47-bd7c-9bf3d3e2bdcb",
      "name": "ONE 400: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "organization_name": "={{ $json.source.organization_name }}",
            "automation_notes": "={{ $json.message }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4048,
        -576
      ],
      "id": "113e104a-f7fc-44a0-be4e-fc1be2925f81",
      "name": "ONE 404: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Return only the items where limit is 2\nreturn items.filter(item => {\n  return String(item.json.limit) === '2';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        48
      ],
      "id": "20938801-7d9e-4f88-868c-707866ca5b59",
      "name": "TWO: GET DATA IF LIMIT IS 2"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        48
      ],
      "id": "7d1cf80e-5545-4903-b7d7-8e16b39e3771",
      "name": "TWO: LOOP"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH base AS (\n    SELECT \n        po.id AS organisation_id,\n        po.name AS organisation_name,\n        po.active AS organisation_active,\n        cps.id AS product_source_id,\n        cps.product_id,\n        cps.name AS product_name,\n        cps.preferred,\n        cps.source,\n        cps.raw_release_date,\n        cps.release_date,\n        CASE \n            WHEN po.name ILIKE $1 THEN 1\n            WHEN po.name ILIKE $1 || ' %' \n              OR po.name ILIKE '% ' || $1 \n              OR po.name ILIKE '% ' || $1 || ' %' THEN 2\n            ELSE 3\n        END AS name_match_priority\n    FROM public.publisher_organisations po\n    JOIN public.catalogue_meta_data cmd\n        ON cmd.publisher_organisation_id = po.id\n    JOIN public.catalogue_product_meta_data cpmd\n        ON cpmd.meta_data_id = cmd.id\n    JOIN public.catalogue_products cp\n        ON cp.id = cpmd.product_id\n    JOIN public.catalogue_product_sources cps\n        ON cps.product_id = cp.id\n    WHERE po.name ILIKE '%' || $1 || '%'\n      AND po.active = 'true'\n      AND cps.preferred = true\n),\nbest_match AS (\n    SELECT MIN(name_match_priority) AS best_priority\n    FROM base\n),\nclassified AS (\n    SELECT b.*,\n        CASE\n            WHEN b.release_date IS NOT NULL \n                AND b.release_date > CASE \n                    WHEN '{{ $('TRIGGER').item.json.today }}' = 'Excluded' \n                        THEN CURRENT_DATE\n                    ELSE CURRENT_DATE - 1\n                END\n                THEN 1\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* '^Q[1-4]\\s+\\d{4}$'\n                AND (\n                    MAKE_DATE(\n                        CAST(SPLIT_PART(b.raw_release_date, ' ', 2) AS INT),\n                        (CAST(SUBSTRING(b.raw_release_date FROM 2 FOR 1) AS INT)) * 3,\n                        1\n                    ) >= DATE_TRUNC('month', CURRENT_DATE)\n                )\n                THEN 2\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~ '^\\d{4}$'\n                AND CAST(b.raw_release_date AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                THEN 3\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* 'coming\\s+soon'\n                AND (\n                    CASE \n                        WHEN b.raw_release_date ~ '\\d{4}' \n                        THEN CAST(SUBSTRING(b.raw_release_date FROM '\\d{4}') AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                        ELSE TRUE\n                    END\n                )\n                THEN 4\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* '(to\\s+be\\s+announced|tba|tbd)'\n                AND (\n                    CASE \n                        WHEN b.raw_release_date ~ '\\d{4}' \n                        THEN CAST(SUBSTRING(b.raw_release_date FROM '\\d{4}') AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                        ELSE TRUE\n                    END\n                )\n                THEN 5\n            ELSE NULL\n        END AS release_priority\n    FROM base b\n    JOIN best_match bm ON b.name_match_priority = bm.best_priority\n),\ndeduplicated AS (\n    SELECT DISTINCT ON (product_id) *\n    FROM classified\n    WHERE release_priority IS NOT NULL\n    ORDER BY\n        product_id,\n        release_priority,\n        CASE\n            WHEN release_priority = 1 THEN release_date - CURRENT_DATE\n            WHEN release_priority = 2 THEN ABS(\n                MAKE_DATE(\n                    CAST(SPLIT_PART(raw_release_date, ' ', 2) AS INT),\n                    (CAST(SUBSTRING(raw_release_date FROM 2 FOR 1) AS INT) - 1) * 3 + 1,\n                    1\n                ) - CURRENT_DATE\n            )\n            WHEN release_priority = 3 THEN ABS(\n                MAKE_DATE(CAST(raw_release_date AS INT), 1, 1) - CURRENT_DATE\n            )\n            ELSE 0\n        END\n)\nSELECT *\nFROM deduplicated\nORDER BY\n    release_priority,\n    CASE\n        WHEN release_priority = 1 THEN release_date - CURRENT_DATE\n        WHEN release_priority = 2 THEN ABS(\n            MAKE_DATE(\n                CAST(SPLIT_PART(raw_release_date, ' ', 2) AS INT),\n                (CAST(SUBSTRING(raw_release_date FROM 2 FOR 1) AS INT) - 1) * 3 + 1,\n                1\n            ) - CURRENT_DATE\n        )\n        WHEN release_priority = 3 THEN ABS(\n            MAKE_DATE(CAST(raw_release_date AS INT), 1, 1) - CURRENT_DATE\n        )\n        ELSE 0\n    END\nLIMIT 2;",
        "options": {
          "connectionTimeout": 20,
          "queryReplacement": "={{ $json.organization_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        64
      ],
      "id": "37413dc0-04d0-4fe0-b3ed-e3f87962dce7",
      "name": "TWO: BACKEND QUERY",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "ghviRi7mSIOmrT5C",
          "name": "keymailer-postgresql-read-only"
        }
      },
      "notes": "1. Get active organisations matching the name.\n2.Get their preferred product releases.\n3. Today is included or excluded \n3. Keep only upcoming or announced releases.\n4. Rank them by how specific and soon they are.\n5. Return the closest one (or however many you specify).\n\nNOTE:\n- Prioritize release_date field, if null use raw_release_date field\n- Get the data that is closest today (today excluded) \n- raw_release_date prioritization in order (Q1 2026, 2026, Coming soon, To be announced)\n"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst loopItems = $('TWO: LOOP').all();\n\n// Fallback when SQL returns no matching rows\nif (items.length === 1 && items[0].json.success === true) {\n  return loopItems.map(li => ({\n    json: {\n      success: true,\n      row_number: li.json.row_number,\n      loop_organisation_name: li.json.organization_name,\n    }\n  }));\n}\n\n// Build a lookup map: lowercased name → loop item data\nconst loopMap = {};\nfor (const li of loopItems) {\n  const name = li.json.organization_name?.trim().toLowerCase();\n  if (name) {\n    loopMap[name] = li.json;\n  }\n}\n\nconst grouped = {};\nfor (const item of items) {\n  const data = item.json;\n  const orgId = data.organisation_id;\n  if (!grouped[orgId]) {\n    grouped[orgId] = {\n      organisation_id: data.organisation_id,\n      organisation_name: data.organisation_name,\n      organisation_active: data.organisation_active,\n      products: [],\n      _productIds: new Set()\n    };\n  }\n  if (!grouped[orgId]._productIds.has(data.product_id)) {\n    grouped[orgId]._productIds.add(data.product_id);\n    grouped[orgId].products.push({\n      product_source_id: data.product_source_id,\n      product_id: data.product_id,\n      product_name: data.product_name,\n      source: data.source,\n      raw_release_date: data.raw_release_date,\n      release_date: data.release_date,\n      release_priority: data.release_priority\n    });\n  }\n}\n\n// Track which loop names were matched\nconst matchedLoopNames = new Set();\n\nconst matchedResults = Object.values(grouped).map(org => {\n  const { _productIds, ...cleanOrg } = org;\n  const currentName = cleanOrg.organisation_name?.trim().toLowerCase();\n  const matchedLoop = currentName && loopMap[currentName];\n  if (matchedLoop) matchedLoopNames.add(currentName); // ← track matched\n  return {\n    json: {\n      ...cleanOrg,\n      ...(matchedLoop ? {\n        row_number: matchedLoop.row_number,\n        loop_organisation_name: matchedLoop.organization_name,\n      } : {})\n    }\n  };\n});\n\n// Append unmatched loop items (no SQL data found for them)\nconst unmatchedResults = Object.entries(loopMap)\n  .filter(([name]) => !matchedLoopNames.has(name))\n  .map(([_, loopItem]) => ({\n    json: {\n      row_number: loopItem.row_number,\n      loop_organisation_name: loopItem.organization_name,\n    }\n  }));\n\nreturn [...matchedResults, ...unmatchedResults];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        64
      ],
      "id": "2cf993d9-52e5-43b0-9723-069556fe2dc2",
      "name": "TWO: MADMIN RETURN FORMAT",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "- Get the data from previous node (Backend Query) and Loop node for matching"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69bca262-aa7a-4d77-852a-bc61d01e8387",
              "leftValue": "={{ $json.loop_organisation_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2304,
        64
      ],
      "id": "44bbb3ed-9f82-4b38-adfe-6e6ef5f78cc9",
      "name": "TWO: CHECK IF NOT EMPTY"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "organization_name": "={{ $json.loop_organisation_name }}",
            "status": "=complete - checking the madmin",
            "madmin_game_name": "={{ [$json.products[0]?.product_name, $json.products[1]?.product_name, $json.products[2]?.product_name].filter(Boolean).join(', ') }}",
            "madmin_earliest_release_date": "={{    $json.products.map(p => {     if (p.release_date) {       const d = new Date(p.release_date);       return d.getUTCDate().toString().padStart(2, '0') + ' ' +              d.toLocaleString('en-GB', { month: 'short', timeZone: 'UTC' }) + ' ' +              d.getUTCFullYear();     } else {       return p.raw_release_date;     }   }).filter(Boolean).join(', ') }}",
            "madmin_link": "={{ [$json.products[0]?.product_id, $json.products[1]?.product_id, $json.products[2]?.product_id].filter(Boolean).map(id => 'https://madmin.keymailer.co/catalogue/products/' + id).join(', ') }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2640,
        48
      ],
      "id": "b2d6c8da-7690-4b29-95c8-fa66ede5eb85",
      "name": "TWO: UPDATE MADMIN COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2880,
        48
      ],
      "id": "cee7c495-e646-4b62-845f-dd56be10f9e6",
      "name": "TWO: WAIT 2 SEC",
      "webhookId": "52a2d06c-eeb8-4374-965b-dd503b4cce97"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Return only the items where limit is 2\nreturn items.filter(item => {\n  return String(item.json.limit) === '2';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        768
      ],
      "id": "8fde98f9-3f7d-42ac-9129-0e107a78ad33",
      "name": "TWO STEAM: GET DATA IF LIMIT IS 2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        768
      ],
      "id": "26f31616-2072-4378-961b-61cd6708d3cd",
      "name": "TWO: LOOP STEAM"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Recent Game Release v2",
        "completionMessage": "=The automation ran successfully.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1664,
        752
      ],
      "id": "5ae45134-44af-4003-881c-7c514fa1a714",
      "name": "TWO: FORM ENDING",
      "webhookId": "edbd9dd4-3338-4e08-b159-7a075d2d35ef"
    },
    {
      "parameters": {
        "jsCode": "// VALID PORTAL IS PUBLISHER, DEVELOPER, CURATOR, FRANCHISE\nconst url = $json.portal?.trim();\n\nconst isValidPortal =\n  url &&\n  /^https:\\/\\/store\\.steampowered\\.com\\/(publisher|developer|curator|franchise)\\/[^\\/]+\\/?$/.test(url);\n\nreturn [{\n  row_number: $json.row_number,\n  organization_name: $json.organization_name,\n  portal: url,\n  limit: $json.limit,\n  portal_validation: isValidPortal ? 200 : 400\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        1008
      ],
      "id": "a13e9f54-945d-4361-8b94-ab2e9f0cb40a",
      "name": "TWO: VALIDATE STEAM PORTAL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14600dfa-3681-4109-b59d-61a456b18ccd",
              "leftValue": "={{$json.portal_validation}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        1008
      ],
      "id": "32384b15-1435-4d60-afd2-58b53b2f99f6",
      "name": "TWO: CHECK PORTAL VALIDATION CODE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4e5b2b6-715c-4389-afb4-6018a891830d",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "6de1c71c-5647-4b1b-8b1a-ac9b5db33379",
              "name": "organization_name",
              "value": "={{ $json.organization_name }}",
              "type": "string"
            },
            {
              "id": "3569a00c-a475-4400-8138-a0a57ea4a4c8",
              "name": "portal",
              "value": "={{ $json.portal }}",
              "type": "string"
            },
            {
              "id": "c0a2717e-9d15-4190-bce2-13afc7c94da8",
              "name": "automation_notes",
              "value": "invalid_steam_portal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        1264
      ],
      "id": "98557f55-5c16-4f8f-ada7-c6ec8b74b82f",
      "name": "TWO 400: ADD A MESSAGE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "organization_name": "={{ $json.organization_name }}",
            "automation_notes": "={{ $json.automation_notes }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2608,
        1264
      ],
      "id": "c9b4d45f-c55a-49fc-83dd-b7c9ef596851",
      "name": "TWO 400: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n\nreturn items.map(item => {\n  const data = item.json;\n  const portal = data.portal || '';\n\n  // Remove the base Steam URL\n  const trimmed = portal.replace('https://store.steampowered.com/', '');\n\n  // Split into type and name\n  const [org_steam_portal, org_steam_name] = trimmed.split('/');\n\n  return {\n    json: {\n      row_number: data.row_number,\n      organization_name: data.organization_name,\n      portal: data.portal,\n      org_steam_portal,\n      org_steam_name\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        992
      ],
      "id": "0b026b82-3441-408c-8749-6ec2c9f47a0f",
      "name": "TWO: SPLIT PORTAL",
      "notesInFlow": true,
      "notes": "trimmed the portal into two: portal and name to pass into the http"
    },
    {
      "parameters": {
        "jsCode": "const agents = [\n'Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/124.0.0.0 Safari/537.36',\n'Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) Chrome/124.0.0.0 Safari/537.36',\n'Mozilla/5.0 (X11; Linux x86_64) Chrome/123.0.0.0 Safari/537.36',\n'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:124.0) Gecko/20100101 Firefox/124.0',\n];\nconst pick = Math.floor(Math.random() * agents.length);\nreturn [{ json: { ...($input.first().json), userAgent: agents[pick] } }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        992
      ],
      "id": "060664d7-3da8-41bc-a579-6a6e0bd970fc",
      "name": "TWO: PICK A RANDOM USER-AGENT",
      "notesInFlow": true,
      "notes": "randomize user-agent"
    },
    {
      "parameters": {
        "url": "=https://store.steampowered.com/{{ $json.org_steam_portal }}/{{ $json.org_steam_name }}/ajaxgetfilteredrecommendations/render/?query=&start=0&count=50&tagids=&sort=upcoming&app_types=&curations=&reset=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Referer",
              "value": "https://store.steampowered.com/"
            },
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2864,
        992
      ],
      "id": "210ab0c1-95d4-45df-9643-776950fe5e1e",
      "name": "TWO: REQUEST TO STEAM",
      "notesInFlow": true,
      "notes": "request to ajaxgetfilteredrecommendations to return the upcoming game release of the organization"
    },
    {
      "parameters": {
        "jsCode": "const data = Array.isArray($json) ? $json[0] : $json;\nconst totalCount = parseInt(data.total_count || '0', 10);\n\n// Get source info from VALIDATE STEAM PORTAL node (exclude portal_validation)\nconst sourceRaw = $items(\"TWO: VALIDATE STEAM PORTAL\")[0].json;\nconst sourceInfo = {\n  row_number: sourceRaw.row_number,\n  organization_name: sourceRaw.organization_name,\n  portal: sourceRaw.portal,\n  limit: sourceRaw.limit\n};\n\nconst limit = parseInt(sourceRaw.limit || '2', 10);\n\n// No upcoming games — return 404-equivalent\nif (totalCount === 0) {\n  return [{\n    json: {\n      status: 404,\n      message: 'No upcoming game releases found',\n      source: sourceInfo,\n      games: []\n    }\n  }];\n}\n\nconst html = data.results_html;\nconst games = [];\n\nconst blockRegex = /data-ds-appid=\"(\\d+)\"[\\s\\S]*?href=\"(https:\\/\\/store\\.steampowered\\.com\\/app\\/[^\"]+)\"[\\s\\S]*?<span class='color_created'>([\\s\\S]*?)<\\/span>[\\s\\S]*?<span class=\"curator_review_date\">([\\s\\S]*?)<\\/span>/g;\nlet match;\n\nwhile ((match = blockRegex.exec(html)) !== null) {\n  if (games.length >= limit) break;\n\n  games.push({\n    appid: match[1],\n    url: match[2],\n    title: match[3].replace(/<[^>]+>/g, '').trim(),\n    release_date: match[4].replace(/<[^>]+>/g, '').trim()\n  });\n}\n\nreturn [{\n  json: {\n    status: 200,\n    message: `Found ${games.length} upcoming game(s)`,\n    source: sourceInfo,\n    games\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        992
      ],
      "id": "a7462499-b5bb-4ae1-ad3c-aab7e06468d7",
      "name": "TWO: GET THE RESPONSE DATA FROM STEAM",
      "notes": "1. Get the data from ONE: VALIDATE STEAM PORTAL so we know where is the source came from\n2. Check if the total_count field from request is 0, if yes meaning no_upcoming_release game, if no meaning there's an upcoming_release game\n3. Add a limit on how many games will it return"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e05f26be-f5f7-4339-b80b-1bffc3eec801",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3472,
        992
      ],
      "id": "bb64b6fa-95f6-4d76-8b8a-57d4d61837da",
      "name": "TWO: CHECK STATUS CODE"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (10 - 3 + 1)) + 3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3792,
        1344
      ],
      "id": "653b560c-86cd-42a7-bce8-515ccd01169d",
      "name": "TWO 404: RANDOMIZE WAIT",
      "webhookId": "6e2fc9a1-49c9-49e2-92cc-66d1b1d4bdde"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "organization_name": "={{ $json.source.organization_name }}",
            "automation_notes": "={{ $json.message }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4032,
        1344
      ],
      "id": "81cbb264-8999-4f26-9652-04e583f41014",
      "name": "TWO 404: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (10 - 3 + 1)) + 3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4656,
        1424
      ],
      "id": "3839fb9a-63b5-40b2-9bcf-a061a8da9590",
      "name": "TWO 200: RANDOMIZE WAIT",
      "webhookId": "6e2fc9a1-49c9-49e2-92cc-66d1b1d4bdde"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "steam_game_name": "={{ $json.games.map(game => game.title).join(', ') }}",
            "steam_earliest_release_date": "={{ $json.games.map(game => game.release_date).join(', ') }}",
            "steam_link": "={{ $json.games.map(game => `https://store.steampowered.com/app/${game.appid}`).join(', ') }}",
            "organization_name": "={{ $json.source.organization_name }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4880,
        1424
      ],
      "id": "fb2bfbfd-5492-4e01-8335-2db28c2fad6c",
      "name": "TWO 200: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (4 - 2 + 1)) + 2 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2896,
        -1872
      ],
      "id": "09eed976-ebba-4aeb-a1c1-762b14b32e49",
      "name": "ONE: WAIT 2-4 SEC",
      "webhookId": "52a2d06c-eeb8-4374-965b-dd503b4cce97"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Return only the items where limit is 3\nreturn items.filter(item => {\n  return String(item.json.limit) === '3';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2000
      ],
      "id": "a7a165d5-c12e-442e-8dfc-2db8cbebe327",
      "name": "THREE: GET DATA IF LIMIT IS 3"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Return only the items where limit is 3\nreturn items.filter(item => {\n  return String(item.json.limit) === '3';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2704
      ],
      "id": "c96c3848-9531-4599-a069-f43edc8a8847",
      "name": "THREE STEAM: GET DATA IF LIMIT IS 3"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        2000
      ],
      "id": "e4a77d15-d1bd-4d49-b549-9c7bce3cde05",
      "name": "THREE: LOOP"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH base AS (\n    SELECT \n        po.id AS organisation_id,\n        po.name AS organisation_name,\n        po.active AS organisation_active,\n        cps.id AS product_source_id,\n        cps.product_id,\n        cps.name AS product_name,\n        cps.preferred,\n        cps.source,\n        cps.raw_release_date,\n        cps.release_date,\n        CASE \n            WHEN po.name ILIKE $1 THEN 1\n            WHEN po.name ILIKE $1 || ' %' \n              OR po.name ILIKE '% ' || $1 \n              OR po.name ILIKE '% ' || $1 || ' %' THEN 2\n            ELSE 3\n        END AS name_match_priority\n    FROM public.publisher_organisations po\n    JOIN public.catalogue_meta_data cmd\n        ON cmd.publisher_organisation_id = po.id\n    JOIN public.catalogue_product_meta_data cpmd\n        ON cpmd.meta_data_id = cmd.id\n    JOIN public.catalogue_products cp\n        ON cp.id = cpmd.product_id\n    JOIN public.catalogue_product_sources cps\n        ON cps.product_id = cp.id\n    WHERE po.name ILIKE '%' || $1 || '%'\n      AND po.active = 'true'\n      AND cps.preferred = true\n),\nbest_match AS (\n    SELECT MIN(name_match_priority) AS best_priority\n    FROM base\n),\nclassified AS (\n    SELECT b.*,\n        CASE\n            WHEN b.release_date IS NOT NULL \n                AND b.release_date > CASE \n                    WHEN '{{ $('TRIGGER').item.json.today }}' = 'Excluded' \n                        THEN CURRENT_DATE\n                    ELSE CURRENT_DATE - 1\n                END\n                THEN 1\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* '^Q[1-4]\\s+\\d{4}$'\n                AND (\n                    MAKE_DATE(\n                        CAST(SPLIT_PART(b.raw_release_date, ' ', 2) AS INT),\n                        (CAST(SUBSTRING(b.raw_release_date FROM 2 FOR 1) AS INT)) * 3,\n                        1\n                    ) >= DATE_TRUNC('month', CURRENT_DATE)\n                )\n                THEN 2\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~ '^\\d{4}$'\n                AND CAST(b.raw_release_date AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                THEN 3\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* 'coming\\s+soon'\n                AND (\n                    CASE \n                        WHEN b.raw_release_date ~ '\\d{4}' \n                        THEN CAST(SUBSTRING(b.raw_release_date FROM '\\d{4}') AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                        ELSE TRUE\n                    END\n                )\n                THEN 4\n            WHEN b.release_date IS NULL\n                AND b.raw_release_date ~* '(to\\s+be\\s+announced|tba|tbd)'\n                AND (\n                    CASE \n                        WHEN b.raw_release_date ~ '\\d{4}' \n                        THEN CAST(SUBSTRING(b.raw_release_date FROM '\\d{4}') AS INT) >= EXTRACT(YEAR FROM CURRENT_DATE)\n                        ELSE TRUE\n                    END\n                )\n                THEN 5\n            ELSE NULL\n        END AS release_priority\n    FROM base b\n    JOIN best_match bm ON b.name_match_priority = bm.best_priority\n),\ndeduplicated AS (\n    SELECT DISTINCT ON (product_id) *\n    FROM classified\n    WHERE release_priority IS NOT NULL\n    ORDER BY\n        product_id,\n        release_priority,\n        CASE\n            WHEN release_priority = 1 THEN release_date - CURRENT_DATE\n            WHEN release_priority = 2 THEN ABS(\n                MAKE_DATE(\n                    CAST(SPLIT_PART(raw_release_date, ' ', 2) AS INT),\n                    (CAST(SUBSTRING(raw_release_date FROM 2 FOR 1) AS INT) - 1) * 3 + 1,\n                    1\n                ) - CURRENT_DATE\n            )\n            WHEN release_priority = 3 THEN ABS(\n                MAKE_DATE(CAST(raw_release_date AS INT), 1, 1) - CURRENT_DATE\n            )\n            ELSE 0\n        END\n)\nSELECT *\nFROM deduplicated\nORDER BY\n    release_priority,\n    CASE\n        WHEN release_priority = 1 THEN release_date - CURRENT_DATE\n        WHEN release_priority = 2 THEN ABS(\n            MAKE_DATE(\n                CAST(SPLIT_PART(raw_release_date, ' ', 2) AS INT),\n                (CAST(SUBSTRING(raw_release_date FROM 2 FOR 1) AS INT) - 1) * 3 + 1,\n                1\n            ) - CURRENT_DATE\n        )\n        WHEN release_priority = 3 THEN ABS(\n            MAKE_DATE(CAST(raw_release_date AS INT), 1, 1) - CURRENT_DATE\n        )\n        ELSE 0\n    END\nLIMIT 3;",
        "options": {
          "connectionTimeout": 20,
          "queryReplacement": "={{ $json.organization_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        2016
      ],
      "id": "f8b86bda-5c7e-472c-ad86-93ab51cda147",
      "name": "THREE: BACKEND QUERY",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "ghviRi7mSIOmrT5C",
          "name": "keymailer-postgresql-read-only"
        }
      },
      "notes": "1. Get active organisations matching the name.\n2.Get their preferred product releases.\n3. Today is included or excluded \n3. Keep only upcoming or announced releases.\n4. Rank them by how specific and soon they are.\n5. Return the closest one (or however many you specify).\n\nNOTE:\n- Prioritize release_date field, if null use raw_release_date field\n- Get the data that is closest today (today excluded) \n- raw_release_date prioritization in order (Q1 2026, 2026, Coming soon, To be announced)\n"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst loopItems = $('THREE: LOOP').all();\n\n// Fallback when SQL returns no matching rows\nif (items.length === 1 && items[0].json.success === true) {\n  return loopItems.map(li => ({\n    json: {\n      success: true,\n      row_number: li.json.row_number,\n      loop_organisation_name: li.json.organization_name,\n    }\n  }));\n}\n\n// Build a lookup map: lowercased name → loop item data\nconst loopMap = {};\nfor (const li of loopItems) {\n  const name = li.json.organization_name?.trim().toLowerCase();\n  if (name) {\n    loopMap[name] = li.json;\n  }\n}\n\nconst grouped = {};\nfor (const item of items) {\n  const data = item.json;\n  const orgId = data.organisation_id;\n  if (!grouped[orgId]) {\n    grouped[orgId] = {\n      organisation_id: data.organisation_id,\n      organisation_name: data.organisation_name,\n      organisation_active: data.organisation_active,\n      products: [],\n      _productIds: new Set()\n    };\n  }\n  if (!grouped[orgId]._productIds.has(data.product_id)) {\n    grouped[orgId]._productIds.add(data.product_id);\n    grouped[orgId].products.push({\n      product_source_id: data.product_source_id,\n      product_id: data.product_id,\n      product_name: data.product_name,\n      source: data.source,\n      raw_release_date: data.raw_release_date,\n      release_date: data.release_date,\n      release_priority: data.release_priority\n    });\n  }\n}\n\n// Track which loop names were matched\nconst matchedLoopNames = new Set();\n\nconst matchedResults = Object.values(grouped).map(org => {\n  const { _productIds, ...cleanOrg } = org;\n  const currentName = cleanOrg.organisation_name?.trim().toLowerCase();\n  const matchedLoop = currentName && loopMap[currentName];\n  if (matchedLoop) matchedLoopNames.add(currentName); // ← track matched\n  return {\n    json: {\n      ...cleanOrg,\n      ...(matchedLoop ? {\n        row_number: matchedLoop.row_number,\n        loop_organisation_name: matchedLoop.organization_name,\n      } : {})\n    }\n  };\n});\n\n// Append unmatched loop items (no SQL data found for them)\nconst unmatchedResults = Object.entries(loopMap)\n  .filter(([name]) => !matchedLoopNames.has(name))\n  .map(([_, loopItem]) => ({\n    json: {\n      row_number: loopItem.row_number,\n      loop_organisation_name: loopItem.organization_name,\n    }\n  }));\n\nreturn [...matchedResults, ...unmatchedResults];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        2016
      ],
      "id": "797e727c-f28e-45b1-a8b2-2f3fb564aefb",
      "name": "THREE: MADMIN RETURN FORMAT",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "- Get the data from previous node (Backend Query) and Loop node for matching"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69bca262-aa7a-4d77-852a-bc61d01e8387",
              "leftValue": "={{ $json.loop_organisation_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2304,
        2016
      ],
      "id": "1fcf58e5-722a-4152-9fb6-54eae5d07397",
      "name": "THREE: CHECK IF NOT EMPTY"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "organization_name": "={{ $json.loop_organisation_name }}",
            "status": "=complete - checking the madmin",
            "madmin_game_name": "={{ [$json.products[0]?.product_name, $json.products[1]?.product_name, $json.products[2]?.product_name].filter(Boolean).join(', ') }}",
            "madmin_earliest_release_date": "={{    $json.products.map(p => {     if (p.release_date) {       const d = new Date(p.release_date);       return d.getUTCDate().toString().padStart(2, '0') + ' ' +              d.toLocaleString('en-GB', { month: 'short', timeZone: 'UTC' }) + ' ' +              d.getUTCFullYear();     } else {       return p.raw_release_date;     }   }).filter(Boolean).join(', ') }}",
            "madmin_link": "={{ [$json.products[0]?.product_id, $json.products[1]?.product_id, $json.products[2]?.product_id].filter(Boolean).map(id => 'https://madmin.keymailer.co/catalogue/products/' + id).join(', ') }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        2000
      ],
      "id": "7b9d1cee-744e-4cdb-a2ae-656e5a7e9091",
      "name": "THREE: UPDATE MADMIN COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2896,
        2000
      ],
      "id": "81a00e4d-233f-4c6f-8ac9-06871d56423d",
      "name": "THREE: WAIT 2 SEC",
      "webhookId": "52a2d06c-eeb8-4374-965b-dd503b4cce97"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        2704
      ],
      "id": "35828668-facd-49d4-8769-18530c6aa0bc",
      "name": "THREE: LOOP STEAM"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Recent Game Release v2",
        "completionMessage": "=The automation ran successfully.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1664,
        2688
      ],
      "id": "c58a2347-6ce1-4357-9f72-ac3ca1fc47d9",
      "name": "THREE: FORM ENDING",
      "webhookId": "edbd9dd4-3338-4e08-b159-7a075d2d35ef"
    },
    {
      "parameters": {
        "jsCode": "// VALID PORTAL IS PUBLISHER, DEVELOPER, CURATOR, FRANCHISE\nconst url = $json.portal?.trim();\n\nconst isValidPortal =\n  url &&\n  /^https:\\/\\/store\\.steampowered\\.com\\/(publisher|developer|curator|franchise)\\/[^\\/]+\\/?$/.test(url);\n\nreturn [{\n  row_number: $json.row_number,\n  organization_name: $json.organization_name,\n  portal: url,\n  limit: $json.limit,\n  portal_validation: isValidPortal ? 200 : 400\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        2960
      ],
      "id": "1aca9465-2d44-44ef-8f7a-b140e22ee302",
      "name": "THREE: VALIDATE STEAM PORTAL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14600dfa-3681-4109-b59d-61a456b18ccd",
              "leftValue": "={{$json.portal_validation}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        2960
      ],
      "id": "868b25fb-6c02-4b55-a342-182f68300265",
      "name": "THREE: CHECK PORTAL VALIDATION CODE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4e5b2b6-715c-4389-afb4-6018a891830d",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "6de1c71c-5647-4b1b-8b1a-ac9b5db33379",
              "name": "organization_name",
              "value": "={{ $json.organization_name }}",
              "type": "string"
            },
            {
              "id": "3569a00c-a475-4400-8138-a0a57ea4a4c8",
              "name": "portal",
              "value": "={{ $json.portal }}",
              "type": "string"
            },
            {
              "id": "c0a2717e-9d15-4190-bce2-13afc7c94da8",
              "name": "automation_notes",
              "value": "invalid_steam_portal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        3216
      ],
      "id": "bd4b47d6-c852-4f39-b537-40d224b35ffc",
      "name": "THREE 400: ADD A MESSAGE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "organization_name": "={{ $json.organization_name }}",
            "automation_notes": "={{ $json.automation_notes }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2608,
        3216
      ],
      "id": "82013dab-c02b-4d89-8af0-3886526ce3ec",
      "name": "THREE 400: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n\nreturn items.map(item => {\n  const data = item.json;\n  const portal = data.portal || '';\n\n  // Remove the base Steam URL\n  const trimmed = portal.replace('https://store.steampowered.com/', '');\n\n  // Split into type and name\n  const [org_steam_portal, org_steam_name] = trimmed.split('/');\n\n  return {\n    json: {\n      row_number: data.row_number,\n      organization_name: data.organization_name,\n      portal: data.portal,\n      org_steam_portal,\n      org_steam_name\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        2944
      ],
      "id": "5d50f8f9-90f2-4efb-a649-a5848570f5b1",
      "name": "THREE: SPLIT PORTAL",
      "notesInFlow": true,
      "notes": "trimmed the portal into two: portal and name to pass into the http"
    },
    {
      "parameters": {
        "jsCode": "const agents = [\n'Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/124.0.0.0 Safari/537.36',\n'Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) Chrome/124.0.0.0 Safari/537.36',\n'Mozilla/5.0 (X11; Linux x86_64) Chrome/123.0.0.0 Safari/537.36',\n'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:124.0) Gecko/20100101 Firefox/124.0',\n];\nconst pick = Math.floor(Math.random() * agents.length);\nreturn [{ json: { ...($input.first().json), userAgent: agents[pick] } }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        2944
      ],
      "id": "bb9e3835-47a9-487f-8f49-71cbdd0ab7eb",
      "name": "THREE: PICK A RANDOM USER-AGENT",
      "notesInFlow": true,
      "notes": "randomize user-agent"
    },
    {
      "parameters": {
        "url": "=https://store.steampowered.com/{{ $json.org_steam_portal }}/{{ $json.org_steam_name }}/ajaxgetfilteredrecommendations/render/?query=&start=0&count=50&tagids=&sort=upcoming&app_types=&curations=&reset=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Referer",
              "value": "https://store.steampowered.com/"
            },
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2864,
        2944
      ],
      "id": "dd3b3e21-c216-40f6-bf24-b3fcb648984f",
      "name": "THREE: REQUEST TO STEAM",
      "notesInFlow": true,
      "notes": "request to ajaxgetfilteredrecommendations to return the upcoming game release of the organization"
    },
    {
      "parameters": {
        "jsCode": "const data = Array.isArray($json) ? $json[0] : $json;\nconst totalCount = parseInt(data.total_count || '0', 10);\n\n// Get source info from VALIDATE STEAM PORTAL node (exclude portal_validation)\nconst sourceRaw = $items(\"THREE: VALIDATE STEAM PORTAL\")[0].json;\nconst sourceInfo = {\n  row_number: sourceRaw.row_number,\n  organization_name: sourceRaw.organization_name,\n  portal: sourceRaw.portal,\n  limit: sourceRaw.limit\n};\n\nconst limit = parseInt(sourceRaw.limit || '3', 10);\n\n// No upcoming games — return 404-equivalent\nif (totalCount === 0) {\n  return [{\n    json: {\n      status: 404,\n      message: 'No upcoming game releases found',\n      source: sourceInfo,\n      games: []\n    }\n  }];\n}\n\nconst html = data.results_html;\nconst games = [];\n\nconst blockRegex = /data-ds-appid=\"(\\d+)\"[\\s\\S]*?href=\"(https:\\/\\/store\\.steampowered\\.com\\/app\\/[^\"]+)\"[\\s\\S]*?<span class='color_created'>([\\s\\S]*?)<\\/span>[\\s\\S]*?<span class=\"curator_review_date\">([\\s\\S]*?)<\\/span>/g;\nlet match;\n\nwhile ((match = blockRegex.exec(html)) !== null) {\n  if (games.length >= limit) break;\n\n  games.push({\n    appid: match[1],\n    url: match[2],\n    title: match[3].replace(/<[^>]+>/g, '').trim(),\n    release_date: match[4].replace(/<[^>]+>/g, '').trim()\n  });\n}\n\nreturn [{\n  json: {\n    status: 200,\n    message: `Found ${games.length} upcoming game(s)`,\n    source: sourceInfo,\n    games\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        2944
      ],
      "id": "8404d60e-1502-4334-aaaa-9a9140f28eb4",
      "name": "THREE: GET THE RESPONSE DATA FROM STEAM",
      "notes": "1. Get the data from ONE: VALIDATE STEAM PORTAL so we know where is the source came from\n2. Check if the total_count field from request is 0, if yes meaning no_upcoming_release game, if no meaning there's an upcoming_release game\n3. Add a limit on how many games will it return"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e05f26be-f5f7-4339-b80b-1bffc3eec801",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3488,
        2944
      ],
      "id": "1a843697-ac16-4acb-9125-6ac65c4afe59",
      "name": "THREE: CHECK STATUS CODE"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (10 - 3 + 1)) + 3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3760,
        3312
      ],
      "id": "7b49723f-1b28-4136-bb1d-54ebaef753a2",
      "name": "THREE 404: RANDOMIZE WAIT",
      "webhookId": "6e2fc9a1-49c9-49e2-92cc-66d1b1d4bdde"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "organization_name": "={{ $json.source.organization_name }}",
            "automation_notes": "={{ $json.message }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3984,
        3312
      ],
      "id": "09120bd3-2763-42ec-bcc9-ff9a35e26aa1",
      "name": "THREE 404: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (10 - 3 + 1)) + 3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        3408
      ],
      "id": "1371597f-8b1e-4bc2-ae88-14251b3c1537",
      "name": "THREE 200: RANDOMIZE WAIT",
      "webhookId": "6e2fc9a1-49c9-49e2-92cc-66d1b1d4bdde"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM",
          "mode": "list",
          "cachedResultName": "AI Automation: Recent Release",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apzXbgiOGMUsJIpnfvH-7c2qwJnVWqBedIcE7e7VVtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "complete",
            "last run": "={{ new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) }}",
            "steam_game_name": "={{ $json.games.map(game => game.title).join(', ') }}",
            "steam_earliest_release_date": "={{ $json.games.map(game => game.release_date).join(', ') }}",
            "steam_link": "={{ $json.games.map(game => `https://store.steampowered.com/app/${game.appid}`).join(', ') }}",
            "organization_name": "={{ $json.source.organization_name }}"
          },
          "matchingColumns": [
            "organization_name"
          ],
          "schema": [
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_portal",
              "displayName": "steam_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last run",
              "displayName": "last run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "madmin_game_name",
              "displayName": "madmin_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_earliest_release_date",
              "displayName": "madmin_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "madmin_link",
              "displayName": "madmin_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "steam_game_name",
              "displayName": "steam_game_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_earliest_release_date",
              "displayName": "steam_earliest_release_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "steam_link",
              "displayName": "steam_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "automation_notes",
              "displayName": "automation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4784,
        3408
      ],
      "id": "a7b375cc-d133-4f11-8ddb-6f3c7a9cdc01",
      "name": "THREE 200: UPDATE STEAM COLUMN",
      "credentials": {
        "googleApi": {
          "id": "3CUnwV1QnCkVSwpD",
          "name": "justin-service-account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Trigger Node\n",
        "height": 248,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        -16
      ],
      "typeVersion": 1,
      "id": "7edac0f6-3c6c-4457-9f9f-59827ee31e48",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Logic Node\n",
        "height": 372,
        "width": 472,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -16
      ],
      "typeVersion": 1,
      "id": "85ac2cf7-a2ad-41aa-8a14-f16c24c14682",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 232,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        -16
      ],
      "typeVersion": 1,
      "id": "2ebf2d37-822e-4320-93ce-b61e76ec8c3b",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -16
      ],
      "typeVersion": 1,
      "id": "bd3f0cb4-cbcd-4302-9276-e7a81c407b20",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Logic Node\n",
        "height": 276,
        "width": 296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -16
      ],
      "typeVersion": 1,
      "id": "fb640124-b0b4-4906-81b8-5444b81c68d6",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "",
        "height": 4928,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -2064
      ],
      "typeVersion": 1,
      "id": "336aab2d-6ee6-424f-901f-19a9b89780ef",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -1952
      ],
      "typeVersion": 1,
      "id": "82e521d1-6d2e-4e3b-a7ec-4be9bb21da6a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Madmin",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -2064
      ],
      "typeVersion": 1,
      "id": "93d40225-71b6-4908-aa8f-331e4d0409ff",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Logic Node\n",
        "height": 260,
        "width": 296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -1952
      ],
      "typeVersion": 1,
      "id": "185d7557-6dbe-4fa6-a4af-ad99140038cb",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 264,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        -1952
      ],
      "typeVersion": 1,
      "id": "7b4deccc-64ab-4c0d-b5fb-1c09ffb134e2",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 272,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        -1952
      ],
      "typeVersion": 1,
      "id": "ec0fe166-89ee-4591-a294-9247b8230ff5",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 280,
        "width": 316,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        -1952
      ],
      "typeVersion": 1,
      "id": "4a4cb582-01bf-479f-bb87-26bd927656a0",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 276,
        "width": 508,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2560,
        -1952
      ],
      "typeVersion": 1,
      "id": "1b320a63-60d5-48bb-9673-e81913f5273e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Steam",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -1360
      ],
      "typeVersion": 1,
      "id": "82c27466-a52e-49e6-b9c2-515c8ec386a4",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -1248
      ],
      "typeVersion": 1,
      "id": "ba2c37c7-2c92-44f2-89d1-fe844b69ee76",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Logic Node\n",
        "height": 260,
        "width": 296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -1248
      ],
      "typeVersion": 1,
      "id": "468b9d3d-39f7-495c-a0e2-87f5cad40196",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Output Node - Send Response to Form\n",
        "height": 260,
        "width": 284,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        -1280
      ],
      "typeVersion": 1,
      "id": "f62b41ce-0e1f-4802-b0ba-c5c49f425d7f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        -992
      ],
      "typeVersion": 1,
      "id": "3024c4eb-c61c-4e85-8128-4471f5e77eb6",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 232,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        -992
      ],
      "typeVersion": 1,
      "id": "daa655c7-a881-4576-8fe1-84e2b87f3bba",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        -720
      ],
      "typeVersion": 1,
      "id": "91ed76c7-0759-4f76-b9ba-8324f211c42d",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 252,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        -720
      ],
      "typeVersion": 1,
      "id": "d2f13a0d-a206-4705-8bba-a95eee602066",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 528,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        -992
      ],
      "typeVersion": 1,
      "id": "387e3872-4753-47fd-9892-fbbfad71e64a",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 248,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        -992
      ],
      "typeVersion": 1,
      "id": "2a8140e5-e783-43a8-838e-ca0d6af58f87",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        -992
      ],
      "typeVersion": 1,
      "id": "aafa0dbe-e5f8-4368-a03c-cd24eaca1212",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 232,
        "width": 268,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3408,
        -992
      ],
      "typeVersion": 1,
      "id": "98dccabc-91fa-4dda-9986-dc26a0682233",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 476,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3744,
        -640
      ],
      "typeVersion": 1,
      "id": "0c53be5d-bd4e-4ec9-9562-dada42980b62",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 476,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4576,
        -560
      ],
      "typeVersion": 1,
      "id": "c704d507-7f36-4b95-829b-11723377b826",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Madmin",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -128
      ],
      "typeVersion": 1,
      "id": "678a8e18-ffd3-4f25-ad3f-fa3e5fd16e8a",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -16
      ],
      "typeVersion": 1,
      "id": "a4d12f8b-4991-4790-a482-a297fce3f0f2",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "# Madmin",
        "height": 288,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        256
      ],
      "typeVersion": 1,
      "id": "69c41ef4-24d4-4c94-a3e6-d7aef6126d70",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Logic Node\n",
        "height": 244,
        "width": 296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -16
      ],
      "typeVersion": 1,
      "id": "908d5250-9913-40d9-8b49-adc5f5898d5f",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 248,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        -16
      ],
      "typeVersion": 1,
      "id": "2a63be3e-87e2-4187-be1f-1e827930a63f",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 272,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        -16
      ],
      "typeVersion": 1,
      "id": "c6d8ff46-d848-4306-b5fb-2b5dbc1de2e1",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 280,
        "width": 316,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        -16
      ],
      "typeVersion": 1,
      "id": "09ebdf18-fd27-4aa0-ac19-e9d72c5c3f89",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 276,
        "width": 508,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2560,
        -16
      ],
      "typeVersion": 1,
      "id": "e0ad2686-3a4f-49ec-b1b7-673f0a80f2a1",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Steam",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        576
      ],
      "typeVersion": 1,
      "id": "be23ff84-4e1c-4e9e-a615-9176a7031253",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        688
      ],
      "typeVersion": 1,
      "id": "e8fd8165-eeb3-4b8d-a1ff-9ea836c72553",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "## Logic Node\n",
        "height": 260,
        "width": 296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        688
      ],
      "typeVersion": 1,
      "id": "f0acd773-4fa8-4f76-8548-3a74acba74e1",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "## Output Node - Send Response to Form\n",
        "height": 260,
        "width": 284,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        640
      ],
      "typeVersion": 1,
      "id": "288de052-91a4-49d3-bc57-4ba65d91c3ab",
      "name": "Sticky Note41"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        928
      ],
      "typeVersion": 1,
      "id": "5f64a344-6dac-49d9-a1f8-f2f767fec864",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 232,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        928
      ],
      "typeVersion": 1,
      "id": "c9273b84-d6b6-4daf-b7e0-0e445dd1cc99",
      "name": "Sticky Note43"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 528,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        928
      ],
      "typeVersion": 1,
      "id": "8e8f08ee-20f3-4b26-b9d5-41ae2cdfbeaa",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        1200
      ],
      "typeVersion": 1,
      "id": "c9e54714-0a83-4b0d-9802-91b2e9e93f4c",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 252,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        1200
      ],
      "typeVersion": 1,
      "id": "521d016e-8ab7-450e-aee8-209c4b93b02a",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 248,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        928
      ],
      "typeVersion": 1,
      "id": "d6e6b844-1eda-4600-afce-2f4ffbd9abe6",
      "name": "Sticky Note47"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3072,
        928
      ],
      "typeVersion": 1,
      "id": "e6800573-746f-4820-978d-124a9e71f295",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 232,
        "width": 268,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        928
      ],
      "typeVersion": 1,
      "id": "8ab03d0a-08eb-44bb-ac05-8895cf705bc0",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 476,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3712,
        1280
      ],
      "typeVersion": 1,
      "id": "e0e15b1f-c6f9-4eb8-878e-8e3f75d44548",
      "name": "Sticky Note51"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 476,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4576,
        1360
      ],
      "typeVersion": 1,
      "id": "3b455ff9-67e2-4b79-b474-7de354da046e",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "content": "# Madmin",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        1808
      ],
      "typeVersion": 1,
      "id": "5ab15e98-ba62-4f97-b946-69d2d7789d9c",
      "name": "Sticky Note52"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        1920
      ],
      "typeVersion": 1,
      "id": "c30ecee7-d6ec-4fc1-9aba-989d85d8eab5",
      "name": "Sticky Note53"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        2624
      ],
      "typeVersion": 1,
      "id": "f2a11ad2-274e-4b43-a5ee-119323f04b91",
      "name": "Sticky Note55"
    },
    {
      "parameters": {
        "content": "# Steam",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        2512
      ],
      "typeVersion": 1,
      "id": "14f83ce6-ffde-4f2f-bcc1-03a555aa9e99",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "content": "## Logic Node\n",
        "height": 244,
        "width": 296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        1920
      ],
      "typeVersion": 1,
      "id": "f59d0324-d5b9-471d-a6cd-dfb7cbd4530f",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 248,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        1936
      ],
      "typeVersion": 1,
      "id": "5d933279-a637-4aad-9743-fd485b68b94e",
      "name": "Sticky Note57"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 272,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        1936
      ],
      "typeVersion": 1,
      "id": "962cb48d-c1f1-4066-a9b4-4f04130cc279",
      "name": "Sticky Note58"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 280,
        "width": 316,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        1936
      ],
      "typeVersion": 1,
      "id": "cd8edd6f-55a0-4d46-b7a0-05bf846f81a2",
      "name": "Sticky Note59"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 276,
        "width": 508,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2560,
        1936
      ],
      "typeVersion": 1,
      "id": "1396e203-2e17-46b8-9cfc-286613aab1b1",
      "name": "Sticky Note60"
    },
    {
      "parameters": {
        "content": "## Logic Node\n",
        "height": 260,
        "width": 296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        2624
      ],
      "typeVersion": 1,
      "id": "c13fd724-180d-41e1-8710-827b389e5257",
      "name": "Sticky Note61"
    },
    {
      "parameters": {
        "content": "## Output Node - Send Response to Form\n",
        "height": 260,
        "width": 284,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        2592
      ],
      "typeVersion": 1,
      "id": "7045a72a-52f0-4ba4-b910-5d6d9850b2ea",
      "name": "Sticky Note62"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        2880
      ],
      "typeVersion": 1,
      "id": "b3f2f371-6a81-4699-933d-239e89e6b2e8",
      "name": "Sticky Note63"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 232,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        2880
      ],
      "typeVersion": 1,
      "id": "b4f9c4a2-5f63-4bc0-b835-1aba72c06415",
      "name": "Sticky Note64"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 528,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        2880
      ],
      "typeVersion": 1,
      "id": "36cbe2c2-5842-49f6-81ce-73a1639cd1c0",
      "name": "Sticky Note65"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 248,
        "width": 284,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        2880
      ],
      "typeVersion": 1,
      "id": "3f6c8336-3d40-4000-8dce-ee153f55282f",
      "name": "Sticky Note66"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        3152
      ],
      "typeVersion": 1,
      "id": "80683240-239a-451d-b30f-f09f831a132f",
      "name": "Sticky Note67"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 252,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        3152
      ],
      "typeVersion": 1,
      "id": "afca4af8-ca83-4ea9-a84c-4cb6106f6768",
      "name": "Sticky Note68"
    },
    {
      "parameters": {
        "content": "## Data Transform Node\n",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        2880
      ],
      "typeVersion": 1,
      "id": "b594758d-b47d-464c-8f51-d6e98c9fc974",
      "name": "Sticky Note69"
    },
    {
      "parameters": {
        "content": "## Action Node\n",
        "height": 232,
        "width": 268,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3408,
        2880
      ],
      "typeVersion": 1,
      "id": "9dd230af-6f21-47a5-8d3d-72c5eaea372f",
      "name": "Sticky Note70"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 476,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3680,
        3232
      ],
      "typeVersion": 1,
      "id": "77ea2acf-eb3c-4fef-8248-1a4b07381936",
      "name": "Sticky Note72"
    },
    {
      "parameters": {
        "content": "## Output Node - Save\n",
        "height": 244,
        "width": 476,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4480,
        3344
      ],
      "typeVersion": 1,
      "id": "20982502-31bb-4b2a-9e77-72f81cbe2936",
      "name": "Sticky Note73"
    }
  ],
  "pinData": {},
  "connections": {
    "ONE: LOOP": {
      "main": [
        [],
        [
          {
            "node": "ONE: BACKEND QUERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: BACKEND QUERY": {
      "main": [
        [
          {
            "node": "ONE: MADMIN RETURN FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: MADMIN RETURN FORMAT": {
      "main": [
        [
          {
            "node": "ONE: CHECK IF NOT EMPTY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: CHECK IF NOT EMPTY": {
      "main": [
        [
          {
            "node": "ONE: UPDATE MADMIN COLUMN",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "ONE: UPDATE MADMIN COLUMN": {
      "main": [
        [
          {
            "node": "ONE: WAIT 2-4 SEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK DATA LIMIT": {
      "main": [
        [
          {
            "node": "ONE: GET DATA IF LIMIT IS 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ONE STEAM: GET DATA IF LIMIT IS 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TWO: GET DATA IF LIMIT IS 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "TWO STEAM: GET DATA IF LIMIT IS 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "THREE: GET DATA IF LIMIT IS 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "THREE STEAM: GET DATA IF LIMIT IS 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIST": {
      "main": [
        [
          {
            "node": "EDIT LIST COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK INPUT": {
      "main": [
        [
          {
            "node": "LIST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FORM ENDING: 400 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRIGGER": {
      "main": [
        [
          {
            "node": "CHECK INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EDIT LIST COLUMN": {
      "main": [
        [
          {
            "node": "CHECK DATA LIMIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: LOOP STEAM": {
      "main": [
        [
          {
            "node": "ONE: FORM ENDING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ONE: VALIDATE STEAM PORTAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: CHECK PORTAL VALIDATION CODE": {
      "main": [
        [
          {
            "node": "ONE: SPLIT PORTAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ONE 400: ADD A MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: VALIDATE STEAM PORTAL": {
      "main": [
        [
          {
            "node": "ONE: CHECK PORTAL VALIDATION CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: SPLIT PORTAL": {
      "main": [
        [
          {
            "node": "ONE: PICK A RANDOM USER-AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: PICK A RANDOM USER-AGENT": {
      "main": [
        [
          {
            "node": "ONE: REQUEST TO STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: REQUEST TO STEAM": {
      "main": [
        [
          {
            "node": "ONE: GET THE RESPONSE DATA FROM STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: GET THE RESPONSE DATA FROM STEAM": {
      "main": [
        [
          {
            "node": "ONE: CHECK STATUS CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE STEAM: GET DATA IF LIMIT IS 1": {
      "main": [
        [
          {
            "node": "ONE: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: GET DATA IF LIMIT IS 1": {
      "main": [
        [
          {
            "node": "ONE: LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: CHECK STATUS CODE": {
      "main": [
        [
          {
            "node": "ONE 200: RANDOMIZE WAIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ONE 404: RANDOMIZE WAIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE 200: RANDOMIZE WAIT": {
      "main": [
        [
          {
            "node": "ONE 200: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE 200: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "ONE: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE 404: RANDOMIZE WAIT": {
      "main": [
        [
          {
            "node": "ONE 404: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE 400: ADD A MESSAGE": {
      "main": [
        [
          {
            "node": "ONE 400: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE 400: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "ONE: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE 404: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "ONE: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: GET DATA IF LIMIT IS 2": {
      "main": [
        [
          {
            "node": "TWO: LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: LOOP": {
      "main": [
        [],
        [
          {
            "node": "TWO: BACKEND QUERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: BACKEND QUERY": {
      "main": [
        [
          {
            "node": "TWO: MADMIN RETURN FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: MADMIN RETURN FORMAT": {
      "main": [
        [
          {
            "node": "TWO: CHECK IF NOT EMPTY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: CHECK IF NOT EMPTY": {
      "main": [
        [
          {
            "node": "TWO: UPDATE MADMIN COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: UPDATE MADMIN COLUMN": {
      "main": [
        [
          {
            "node": "TWO: WAIT 2 SEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: WAIT 2 SEC": {
      "main": [
        [
          {
            "node": "TWO: LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO STEAM: GET DATA IF LIMIT IS 2": {
      "main": [
        [
          {
            "node": "TWO: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: LOOP STEAM": {
      "main": [
        [
          {
            "node": "TWO: FORM ENDING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TWO: VALIDATE STEAM PORTAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: VALIDATE STEAM PORTAL": {
      "main": [
        [
          {
            "node": "TWO: CHECK PORTAL VALIDATION CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: CHECK PORTAL VALIDATION CODE": {
      "main": [
        [
          {
            "node": "TWO: SPLIT PORTAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TWO 400: ADD A MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO 400: ADD A MESSAGE": {
      "main": [
        [
          {
            "node": "TWO 400: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO 400: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "TWO: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: SPLIT PORTAL": {
      "main": [
        [
          {
            "node": "TWO: PICK A RANDOM USER-AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: PICK A RANDOM USER-AGENT": {
      "main": [
        [
          {
            "node": "TWO: REQUEST TO STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: REQUEST TO STEAM": {
      "main": [
        [
          {
            "node": "TWO: GET THE RESPONSE DATA FROM STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: GET THE RESPONSE DATA FROM STEAM": {
      "main": [
        [
          {
            "node": "TWO: CHECK STATUS CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO: CHECK STATUS CODE": {
      "main": [
        [
          {
            "node": "TWO 200: RANDOMIZE WAIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TWO 404: RANDOMIZE WAIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO 404: RANDOMIZE WAIT": {
      "main": [
        [
          {
            "node": "TWO 404: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO 404: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "TWO: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO 200: RANDOMIZE WAIT": {
      "main": [
        [
          {
            "node": "TWO 200: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWO 200: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "TWO: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ONE: WAIT 2-4 SEC": {
      "main": [
        [
          {
            "node": "ONE: LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: GET DATA IF LIMIT IS 3": {
      "main": [
        [
          {
            "node": "THREE: LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: LOOP": {
      "main": [
        [],
        [
          {
            "node": "THREE: BACKEND QUERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: BACKEND QUERY": {
      "main": [
        [
          {
            "node": "THREE: MADMIN RETURN FORMAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: MADMIN RETURN FORMAT": {
      "main": [
        [
          {
            "node": "THREE: CHECK IF NOT EMPTY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: CHECK IF NOT EMPTY": {
      "main": [
        [
          {
            "node": "THREE: UPDATE MADMIN COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: UPDATE MADMIN COLUMN": {
      "main": [
        [
          {
            "node": "THREE: WAIT 2 SEC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: WAIT 2 SEC": {
      "main": [
        [
          {
            "node": "THREE: LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE STEAM: GET DATA IF LIMIT IS 3": {
      "main": [
        [
          {
            "node": "THREE: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: LOOP STEAM": {
      "main": [
        [
          {
            "node": "THREE: FORM ENDING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "THREE: VALIDATE STEAM PORTAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: VALIDATE STEAM PORTAL": {
      "main": [
        [
          {
            "node": "THREE: CHECK PORTAL VALIDATION CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: CHECK PORTAL VALIDATION CODE": {
      "main": [
        [
          {
            "node": "THREE: SPLIT PORTAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "THREE 400: ADD A MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE 400: ADD A MESSAGE": {
      "main": [
        [
          {
            "node": "THREE 400: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE 400: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "THREE: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: SPLIT PORTAL": {
      "main": [
        [
          {
            "node": "THREE: PICK A RANDOM USER-AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: PICK A RANDOM USER-AGENT": {
      "main": [
        [
          {
            "node": "THREE: REQUEST TO STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: REQUEST TO STEAM": {
      "main": [
        [
          {
            "node": "THREE: GET THE RESPONSE DATA FROM STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: GET THE RESPONSE DATA FROM STEAM": {
      "main": [
        [
          {
            "node": "THREE: CHECK STATUS CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE: CHECK STATUS CODE": {
      "main": [
        [
          {
            "node": "THREE 200: RANDOMIZE WAIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "THREE 404: RANDOMIZE WAIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE 404: RANDOMIZE WAIT": {
      "main": [
        [
          {
            "node": "THREE 404: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE 404: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "THREE: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE 200: RANDOMIZE WAIT": {
      "main": [
        [
          {
            "node": "THREE 200: UPDATE STEAM COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "THREE 200: UPDATE STEAM COLUMN": {
      "main": [
        [
          {
            "node": "THREE: LOOP STEAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HrRA6Gjil21fGmZd"
  },
  "versionId": "c2dece9f-a941-4513-8a91-8a37e1cb03f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7f0c9e93cc1d21450d0ac53e03c96386e7955af12da3506dd2a4747fb35fd69"
  },
  "id": "0LQ37arL2dBeeAO3",
  "tags": [
    {
      "updatedAt": "2026-01-20T10:01:15.439Z",
      "createdAt": "2026-01-20T10:01:15.439Z",
      "id": "b5XajD9gUphtMiHm",
      "name": "Production"
    },
    {
      "updatedAt": "2025-12-15T14:10:19.680Z",
      "createdAt": "2025-12-15T14:10:19.680Z",
      "id": "QdUe6YUR8urhBgR4",
      "name": "Justin Peligro"
    }
  ]
}